/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel {
	.animated.active {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}
	.owl-animated-in.active {
		z-index: 0;
	}
	.owl-animated-out.active {
		z-index: 1;
	}
	.fadeOut {
		animation-name: fadeOut;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
