$nav-color: $color-white !default;
$nav-color-hover: $color-white !default;
$nav-font-size: 14px !default;
$nav-rounded: 3px !default;
$nav-margin: 0;
$nav-padding: 0;
$nav-background: transparent;
$nav-background-hover: transparent;
$nav-disabled-opacity: 0.5;

.owl-custom-nav {
  position: absolute;
  margin-top: -10px;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  .owl-prev {
    display: none;
  }
  .owl-next {
    @extend .btn;
    @extend .icon;
    @extend .icon--circle;
    @extend %icon--arrow-dark;
    width: 60px !important;
    height: 60px !important;
    background-color: #fff;
  }
}

.owl-carousel {
  .animated {
    // animation-duration: 5s;
  }
}
