.page {
  @include clearfix();
  position: relative;
  .item {
    .container {
      @include clearfix();
      height: 100%;
      margin: -10px;
    }
  }
}

.page__content {
  height: 88%;
}

.page__news,
.page__map {
  padding-bottom: 20px;
}
.page__news {
  height: 50%;
  margin: 0 -10px;
}

.page__map {
  height: 50%;
}

.page__info {
}

.page__copy {
  p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #505050;
  }
}

.page__item {
  height: 50%;
  padding: 10px;
  > div {
    height: 100%;
    width: 100%;
  }
}

.pageIn,
.pageOut {
  animation-duration: 1s !important;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 0.15s;
}

.pageIn {
  animation-name: pageIn;
  animation-delay: 0.15s;
}

.pageOut {
  animation-name: pageOut;
  animation-delay: 0.15s;
}

.owl-item {
  // animation-duration: 0.8s !important;
  &.active {
    .page__item {
      animation-name: pageItemIn;
      animation-duration: 0.75s;
      animation-fill-mode: both;
      // animation-timing-function: linear;
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
      &:nth-child(1) {
        animation-delay: 0.8s;
      }
      &:nth-child(2) {
        animation-delay: 1s;
      }
      &:nth-child(4) {
        animation-delay: 1.1s;
      }
    }
  }
}

.pageOut {
  // &.owl-animated-out {
  //   .page__item {
  //     animation-name: pageItemOut;
  //     animation-duration: 0.5s;
  //     animation-fill-mode: both;
  //     // animation-timing-function: linear;
  //     &:nth-child(1) {
  //       animation-delay: 0s;
  //     }
  //     &:nth-child(2) {
  //       animation-delay: 0.1s;
  //     }
  //     &:nth-child(3) {
  //       animation-delay: 0.2s;
  //     }
  //     &:nth-child(4) {
  //       animation-delay: 0.25s;
  //     }
  //   }
  // }
}

@keyframes pageIn {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pageOut {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes pageItemIn {
  from {
    transform: translate3d(500px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pageItemOut {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-500px, 0, 0);
  }
}
