.card {
  width: 50%;
  height: 100%;
  float: left;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
  .icon--arrow {
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  }
  &:hover {
    .card__img {
      img {
        transform: scale(1.1);
      }
    }
    .card__text {
      p {
        transform: scale(1.1);
      }
      &:before {
        top: -10px;
      }
    }
    .card__btn {
      margin-top: -10px;
    }
  }
}

.card__img {
  height: 55%;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  img {
    width: auto;
    height: 100%;
    transition: all 0.25s;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45%;
  padding: 10px 30px 40px;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  font-weight: 700;
  color: #4a4a4a;
  background-color: #fff;
  z-index: 1;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.25s;
    z-index: -1;
  }
  p {
    margin: 0;
    transform-origin: 50% 100%;
    transition: all 0.25s;
  }
}

.card__btn {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
  z-index: 2;
  .icon {
    background-color: #f5d334;
  }
}

.card__date {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.card--vk {
  color: #fff;
  .card__img {
    position: absolute;
    height: 55px;
    right: 10px;
    left: 10px;
    bottom: 70px;
    z-index: 2;
    &:before,
    &:after {
      content: " ";
      position: absolute;
    }
    &:before {
      @extend .icon--vk;
      width: 100px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-size: auto 100%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-color: #1c5394;
      z-index: 1;
    }
    &:after {
      width: 100%;
      height: 1px;
      top: 50%;
      background-color: #557eaf;
    }
  }
  .card__text {
    height: 100%;
    padding-bottom: 80px;
    font-size: 28px;
    line-height: 34px;
    font-weight: 200;
    color: #fff;
    background-color: #1c5394;
    &:before {
      display: none;
    }
  }
  &:hover {
    .card__text {
      p {
        transform: none;
      }
    }
  }
  .card__date {
    top: 25px;
    bottom: auto;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-transform: none;
  }
  .card__btn {
    top: auto;
    bottom: 0;
  }
  .badge {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
  }
  .icon--arrow {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }
}
