.dropdown {
  position: absolute;
  height: 100%;
  width: 600px + $sidebar-width;
  padding: 50px 30px 30px (36px + $sidebar-width);
  top: 0;
  right: 100%;
  color: #000;
  background-color: #ccc;
  box-shadow: 1px 0 14px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.75s $easeInOutQuart;
  z-index: 3;
  &.is-open {
    transform: translate3d(100%, 0, 0);
    .dropdown__menu {
      // opacity: 0;
      // transform: translate3d(0, 30px, 0);
      animation: dropdownSlide 0.3s 0.5s both;
    }
  }
  .btn--prev {
    margin-bottom: 60px;
    text-transform: none;
    color: #fff;
    .icon {
      background-size: 100%;
      background-color: transparent;
    }
  }
}

.dropdown__menu {
  @include clearfix;
  margin-bottom: 40px;
  .menu__item {
    float: left;
    width: 50%;
    margin-bottom: 36px;
  }
}

@keyframes dropdownSlide {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
