.menu,
.submenu {
  @include scut-list-unstyled();
}

.menu__link,
.submenu__link {
  display: block;
  padding: 5px 0;
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #000;
  }
}
