.sidebar {
  position: relative;
  width: $sidebar-width;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 0 14px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1000px;
}

.sidebar__logo,
.nkh-logo {
  align-self: center;
  margin: 30px 0;
}

.nkh-logo {
  margin-top: 80px;
}

.sidebar__menu-wrapper {
  margin: 0;
  padding-left: 0;
}

.sidebar__menu {
  text-align: center;
  overflow: hidden;
  .submenu {
    height: 0;
    transition: height 0.5s;
  }
  &.active {
    .submenu {
      height: auto;
    }
  }
  .menu__link {
  }
  .menu__link,
  .submenu__link {
    // display: block;
    padding: 30px 5px;
    // text-decoration: none;
    color: #fff;
  }
  .menu__title {
    .menu__link {
      position: relative;
      font-size: 18px;
      line-height: 26px;
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid transparent;
        transition: all 0.5s;
      }
    }
  }
  .submenu__link {
    padding: 10px 5px;
    font-size: 14px;
    line-height: 20px;
  }
  &.active {
    .menu__link {
      &:after {
        bottom: 0;
      }
    }
  }
  .submenu__item {
    &:first-child {
      .submenu__link {
        padding-top: 25px;
      }
    }
    &:last-child {
      .submenu__link {
        padding-bottom: 25px;
      }
    }
  }
  &--home {
    .menu__link {
      background-color: #37b1a8;
      &:after {
        border-bottom-color: #1da197 !important;
      }
    }
    .submenu__link {
      background-color: #1da197;
      &:hover {
        background-color: #1a887f;
      }
    }
  }
  &--business {
    .menu__link {
      background-color: #1c5394;
      &:after {
        border-bottom-color: #194477 !important;
      }
    }
    .submenu__link {
      background-color: #194477;
      &:hover {
        background-color: #153863;
      }
    }
  }
}
