.page__banner {
  position: relative;
  padding: 35px 40px 30px 30px;
  color: #fff;
  background-color: #7db1d5;
  background-image: url(../img/banner.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 70%;
  transition: all 0.3s $easeOutQuad;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  &:hover {
    background-size: 105%;
    background-position: 50% 60%;
    .banner__tariff {
      transform: translate3d(0, -15px, 0);
    }
  }
  .banner__tariff {
    transition: all 0.3s $easeOutQuad;
  }
  .icon--arrow {
    background-color: rgba(28, 83, 148, 0.47);
  }
  .badge {
    color: #fff;
  }
  .btn--close {
    position: absolute;
    top: 50px;
    right: 30px;
    transform: translateY(-100%);
  }
  .h1 {
    margin-bottom: 28px;
    font-size: 65px;
    line-height: 68px;
    font-weight: 500;
  }
  .h1 + p {
    margin-bottom: 20px;
    max-width: 27em;
    font-size: 14px;
    line-height: 24px;
  }
  .h5 {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
  }
  .badge {
    font-size: 15px;
    line-height: 20px;
  }
}

.banner__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -10px;
  margin-bottom: 55px;
  font-size: 17px;
  line-height: 24px;
  .menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .menu__link {
    &:link,
    &:visited {
      color: #fff;
    }
  }

  .icon--burger {
    // width: 25px;
    // height: 19px;
    // background: #fff;
  }
}
