.infobar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 -10px 20px 0;
  border-bottom: 1px solid #d8d8d8;
  .menu__item {
    display: inline-block;
    display: inline-flex;
    margin-right: 10px;
  }
  .menu__link {
    font-size: 15px;
    line-height: 20px;
    font-weight: 200;
    &,
    &:link,
    &:visited {
      color: #4a4a4a;
    }
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  .badge {
    text-transform: none;
    .icon {
      position: relative;
      width: 50px;
      height: 50px;
      margin: 0;
      top: 1px;
    }
  }
}
