.page__map {
  padding: 20px;
  overflow: hidden;
  background-color: #d0ffbc;
}

#map {
  margin: -20px;
}

.map-form-wrapper {
  position: relative;
  z-index: 1;
  float: left;
  width: 50%;
  padding-right: 10px;
}

.map-form {
  padding: 0 20px 20px;
  font-size: 15px;
  line-height: 20px;
  color: #8f8f8f;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  > p {
    margin-bottom: 30px;
    line-height: 19px;
  }
  .form {
    @include clearfix();
    margin: 0 -20px 15px;
    padding: 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .form__group {
    float: left;
    margin-bottom: 0;
    padding: 8px 5px;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #8f8f8f !important;
    .form-control {
      padding: 0;
      width: 100%;
      border: 0;
    }
    &:first-child {
      width: 80%;
      .form-control {
        border-right: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
    &:last-child {
      width: 20%;
      .form-control {
        text-align: center;
      }
    }
  }
  .badge {
    font-size: 15px;
    line-height: 20px;
    color: #4a4a4a;
  }
}
