doctype html
head
  meta(charset='utf-8')
  title
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //- link(rel='manifest' href='site.webmanifest')
  //- link(rel='apple-touch-icon' href='icon.png')
  // Place favicon.ico in the root directory
  meta(name='theme-color' content='#fafafa')
  link(rel='stylesheet' href='css/style.css')
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet")
  //- script(src="https://api-maps.yandex.ru/2.1/?apikey=e99f80b2-0b3e-453b-be6c-e2303400839a&lang=ru_RU" type="text/javascript")
//if IE
  p.browserupgrade
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='https://browsehappy.com/') upgrade your browser
    |  to improve your experience and security.
// Add your site or application content here

.page-wrapper

  aside.sidebar
    .sidebar-wrapper

      // Sidebar logo
      .sidebar__logo
        img(src="./img/dagnet-logo.svg")

      // Sidebar menu
      .sidebar__menu-wrapper
        // home
        ul.menu.sidebar__menu.sidebar__menu--home
          li.menu__title
            a.menu__link(href='#')
              | Для
              br
              | дома
          li.menu__body
            ul.submenu
              li.submenu__item
                a.submenu__link(href='#')
                  | Услуги
              li.submenu__item
                a.submenu__link(href='#')
                  | Инструкции
              li.submenu__item
                a.submenu__link(href='#')
                  | Документы
              li.submenu__item
                a.submenu__link(href='#')
                  | Тарифы
        // business
        ul.menu.sidebar__menu.sidebar__menu--business
          li.menu__title
            a.menu__link(href='#')
              | Для
              br
              | бизнеса
          li.menu__body
            ul.submenu
              li.submenu__item
                a.submenu__link(href='#')
                  | Item 1
              li.submenu__item
                a.submenu__link(href='#')
                  | Item 2
              li.submenu__item
                a.submenu__link(href='#')
                  | Item 3
      
      // Sidebar copyright
      a.nkh-logo(href="https://www.nkhstudio.ru/")
        img(src="./img/nkh-logo.svg")

  // Main
  main.page
    .dropdown
      button.btn.btn--prev.badge.badge--left
        | Весь сайт
        i.icon.icon--arrow
      .menu.dropdown__menu
        li.menu__item
          ul.submenu
            li.submenu__item
              a.submenu__link(href="#")
                | О компании
            li.submenu__item
              a.submenu__link(href="#")
                | Отзывы
            li.submenu__item
              a.submenu__link(href="#")
                | Вакансии
            li.submenu__item
              a.submenu__link(href="#")
                | Контакты
        li.menu__item
          ul.submenu
            li.submenu__item
              a.submenu__link(href="#")
                | Услуги
            li.submenu__item
              a.submenu__link(href="#")
                | Инструкции
            li.submenu__item
              a.submenu__link(href="#")
                | Документы
            li.submenu__item
              a.submenu__link(href="#")
                | Тарифы
        li.menu__item
          ul.submenu
            li.submenu__item
              a.submenu__link(href="#")
                | Личный кабинет
            li.submenu__item
              a.submenu__link(href="#")
                | Подключиться
            li.submenu__item
              a.submenu__link(href="#")
                | Техподдержка
            li.submenu__item
              a.submenu__link(href="#")
                | База знаний
        li.menu__item
          ul.submenu
            li.submenu__item
              a.submenu__link(href="tel:+79285066700")
                | +7 (928) 506-67-00
            li.submenu__item
              a.submenu__link(href="#")
                | Задать вопрос
    .page__banner.banner
      .banner__navbar
        ul.menu.banner__nav
          li.menu__item
            button.btn.btn--open.menu__link
              i.icon.icon--burger
                span
          li.menu__item
            a.menu__link(href="#")
              | О компании
          li.menu__item
            a.menu__link(href="#")
              | Техподдержка
          li.menu__item
            a.menu__link(href="#")
              | Подключиться
      .tariff.banner__tariff
        h3.h5
          | Безлимитный интернет
        h2.h1
          | DN-650 за 500 руб/мес
        p
          | Скорость входящего/исходящего канала, Кбит/с днем 14000, ночью 20000
        button.btn.badge(href="#")
          | Подключиться
          i.icon.icon--circle.icon--arrow

    // Main content
    .page__content
      .owl-custom-nav
      .owl-carousel.owl-theme
        .item
          .container
            .col.page__item
              .card
                .card__img
                  img(src="./img/card-1.jpeg")
                .card__text
                  p Телевизионные каналы в цифровом качестве на основе технологии IP (IPTV)
                .card__btn
                  a.btn(href="#")
                    i.icon.icon--circle.icon--arrow
                .card__date
                  | 28 января 2016
            .col.page__item
              .card.card--vk
                .card__img
                .card__text
                  p Произошла авария с обрывом линий сетей интренет на пересечении улиц Грозненская и Тотурбиева…
                .card__btn
                  a.btn.badge(href="#")
                    | Подписаться
                    i.icon.icon--circle.icon--arrow
                .card__date
                  | 11 февраля 2016 в 4:34
          
            // Map
            .col.col--full.page__item
              .page__map
                .map-form-wrapper
                  .map-form
                    form.form
                      .form__group
                        input(type="text" class="form-control" placeholder="Название улицы")
                      .form__group
                        input(type="text" class="form-control" placeholder="Дом")
                    p Пока ваш дом не подключен к сети DagNet. Возможно, мы планируем его подключение в ближайшее время. Чтобы узнать о возможности и сроках его подключения, оставьте заявку.
                    a.btn.badge(href="#")
                      | Оставить заявку на подключение
                      i.icon.icon--circle.icon--arrow

                #map
                  script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2af0b515fd1d496e97692ad276bae0ac8c29b746c0af540ccb4730c15a7b07e5&amp;width=828&amp;height=432&amp;lang=ru_RU&amp;scroll=true")
        .item
          .container
            .col.page__item
              div.card(style="background-color: #f3c22c")
            .col.page__item
              div.card(style="background-color: #fdf2d1")
            .col.page__item
              div.card(style="background-color: #f4f7e5")
            .col.page__item
              div.card(style="background-color: #666841")
      .page__footer
        ul.menu.infobar
          li.menu__item
            a.menu__link.badge.badge--left(href="tel:+79285066700")
              | +7 (928) 506-67-00
              i.icon.icon--phone
          li.menu__item
            a.menu__link.badge.badge--left(href="#")
              | Задать вопрос
              i.icon.icon--feedback
          li.menu__item
            a.menu__link.badge.badge--left(href="#")
              | Личный кабинет
              i.icon.icon--account
          li.menu__item
            a.menu__link.badge.badge--left(href="#")
              | Поиск
              i.icon.icon--search
        .page__copy
          p &copy&nbsp2016 Дагестанские компьютерные сети  «ДагНет»

script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\\/script>')
//- script.
//-   ymaps.ready(init);    
//-     function init(){ 
//-       var myMap = new ymaps.Map("map", {
//-         center: [55.76, 37.64],
//-         zoom: 7
//-       }); 
//-     }
script(src='./js/owl.carousel.min.js')

script.
  
  // 
  // Sidebar menu
  // 

  // clone sidebar menu
  $('.sidebar__menu-wrapper')
    .clone()
    .appendTo('.sidebar-wrapper')
    .toggleClass('sidebar__menu-wrapper menu-height-test')
    .css({'position': 'absolute', 'left': '-999px'})
    .find('.sidebar__menu')
    .addClass('active');

  // check hight of submenus
  var firstMenuHeight = $('.menu-height-test')
    .find('.menu:nth-child(1) .submenu')
    .outerHeight(),
      secondMenuHeight = $('.menu-height-test')
    .find('.menu:nth-child(2) .submenu')
    .outerHeight();

  // toggle submenu state
  $('.sidebar__menu-wrapper .menu__title .menu__link').on('click', function(e) {
    e.preventDefault();
    var sidebarCurrent = $(e.target)
      .closest('.sidebar__menu');
    if (!sidebarCurrent.hasClass('active')) {
      $('.sidebar__menu-wrapper .sidebar__menu')
        .removeClass('active')
          .find('.submenu')
          .css({'height': 0});
      sidebarCurrent
        .addClass('active');
      sidebarCurrent.index() === 0 ?
        sidebarCurrent
          .find('.submenu')
          .height(firstMenuHeight) :
        sidebarCurrent
          .find('.submenu')
          .height(secondMenuHeight);
    } else {
      $('.sidebar__menu-wrapper .sidebar__menu')
        .removeClass('active')
          .find('.submenu')
          .css({'height': 0});
    }
  });

  //


  $('.banner__navbar .btn--open, .dropdown .btn--prev').on('click', function(e) {
    e.preventDefault();
    $('.dropdown').toggleClass('is-open');
  });


  //
  // Page Slider
  //

  function onSliderChanged(event) {
    $('.owl-item').removeClass('animated owl-animated-in pageIn');
  }

  function onSliderInit(event) {
    $('.owl-item.active').removeClass('active');
  }

  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:0,
    nav:true,
    dots: false,
    loop: true,
    items: 1,
    navText: [],
    navContainer: '.owl-custom-nav',
    //- smartSpeed: 5000,
    animateIn: 'pageIn',
    animateOut: 'pageOut',
    fluidSpeed: true,
    //- slideTransition: 'linear'
    onChange: onSliderChanged,
    onInitialized: onSliderInit
  })