.btn {
  padding: 0;
  &--prev {
    .icon--arrow {
      transform: rotate(180deg);
    }
  }
}

.btn--circle {
  // border-radius: 500px;
}

.badge {
  font-weight: 500;
  &--left {
    display: flex;
    .icon {
      order: -1;
      margin-left: 0 !important;
    }
  }
}
