// $black: #6f42c1;

$spacer: 12px;
$enable-rounded: false;
// $enable-grid-classes: false;
// $enable-caret: false;

// Custom Variables

$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$sidebar-width: 112px;

$use-fadeInRightBig: true;
$use-fadeOutLeftBig: true;
// $base-duration: 5s;
