html,
body {
  height: 100%;
}

body {
  // min-width: 1570px;
  // min-height: 1000px;
  background-color: #f0f2f3;
}

.page-wrapper {
  @include clearfix();
  height: 100%;
  width: 1570px;
  min-height: 1000px;
}

.sidebar {
  position: relative;
  float: left;
}

.page {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  padding-left: $sidebar-width;
  margin-left: -$sidebar-width;
  float: left;
}

.page__banner {
  position: relative;
  float: left;
  width: 500px;
  height: 100%;
}

.page__content {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  padding: 20px 110px 20px (500px + 20px);
  margin-left: -500px;
  // background: orange;
}

.owl-carousel,
.owl-stage-outer,
.owl-stage,
.owl-item,
.owl-item .item {
  height: 100%;
}

.container {
  @include clearfix();
}

.col {
  float: left;
  width: 50%;
  &--full {
    width: 100%;
  }
}
